<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123817330570-qrr0rhnerrndml22n5u3tuf3pnbqtpln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123817330570-qrr0rhnerrndml22n5u3tuf3pnbqtpln</string>
	<key>API_KEY</key>
	<string>AIzaSyDcrbX8-f901VQKtt-RGM-lmJbdmai0hL0</string>
	<key>GCM_SENDER_ID</key>
	<string>123817330570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.updateSample</string>
	<key>PROJECT_ID</key>
	<string>update-sample-d97d8</string>
	<key>STORAGE_BUCKET</key>
	<string>update-sample-d97d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123817330570:ios:d1a80440b34f66c206aa73</string>
</dict>
</plist>